# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAJ_ihEyLn3bp2v-yH-z6-1-5EdRHabHGU
VITE_FIREBASE_AUTH_DOMAIN=medlink-4a4fd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medlink-4a4fd
VITE_FIREBASE_STORAGE_BUCKET=medlink-4a4fd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=231645471951
VITE_FIREBASE_APP_ID=1:231645471951:web:61d23613034e6832bc03ba
VITE_FIREBASE_MEASUREMENT_ID=G-D3S3P80DSZ

# Mapbox Configuration
VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoibWVkbGluazAxIiwiYSI6ImNtaGFxeXp3OTB6eHEya3B2enh6c3ljaGIifQ.fNLLY7BuMPp-gsTevR1JoQ

# Environment
VITE_APP_ENV=development
VITE_APP_NAME=Medlink
VITE_APP_VERSION=1.0.0
